<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
   <!-- <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css"> -->
   <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script> 
   <!-- <script src="../Semantic-UI-CSS-master/semantic.min.js"></script> -->
   <title>Data Users</title>
</head>
<body>
   <div class="ui grid">
      <div class="four wide column">
         <h1>Data Users</h1>
      </div>
      <div class="seven wide column"></div>
      <div class="three wide column"></div>
      <div class="two wide column">
         <a href="/users/logout"><button class="ui red button">Logout</button></a>
      </div>
   </div>
   
   <div class="ui grid">
      <div class="two wide column">
         <a href="/users/add"><button class="ui teal button">Tambah Data User</button></a> 
      </div>
      <div class="three wide column"></div>
      <div class="three wide column"></div>
      <div class="two wide column"></div>
   </div>
   
   
   <table class="ui small very compact selectable celled striped table">
      <thead>
          <tr>
            <th>No</th>
            <th>Username</th>
            <th colspan="2">Aksi</th>
          </tr>
      </thead>
      <tbody>
         <% for (let i = 0; i < user.length; i++) { %>
            <tr>
               <td><%= i+1 %></td>
               <td><%= user[i].username %></td>
               <td>
                  <a href="/users/edit/<%=user[i].id %>" data-tooltip="Edit">
                     <i class="edit icon"></i>
                  </a>
               </td>
               <td>
                  <a href="/users/delete/<%=user[i].id %>" onclick="return confirm('are u sure?')" data-tooltip="Delete">
                     <i class="trash icon"></i>
                  </a>
               </td>              
            </tr>
         <% } %>
      </tbody>
  </table>
</body>
</html>